# -*- coding: utf-8 -*-
from easyrequest import CrawlSpider


class >>classname(CrawlSpider):
    start_urls = []

    def run(self):
        pass

    def parse_response(self,response):
        item = {}

        return item
